.login-section {
  padding-top: 120px;
  display: flex;
  flex-direction: column;

  align-items: center;
  gap: 40px;

  height: 100vh;
  background-color: #fff;
  color: #343a40;
}

.form-header h1 {
  font-size: 35px;
  font-weight: bold;
}

.login-form {
  width: 400px;
  padding: 20px;
  border-radius: 5px;
}

.login-form label {
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.login-form input:focus {
  outline: none;
  border: 1px solid #868e96;
}

.login-form button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 30px 0;

  font-size: 18px;
}

.login-form button[type="submit"]:hover {
  background-color: #0056b3;
}

.login-form p {
  margin-top: 15px;
  text-align: center;
}

.login-form p a {
  color: #007bff;
  text-decoration: none;
}

.login-form p a:hover {
  text-decoration: underline;
}

.login-form .error {
  color: red;
  text-align: left;
  font-size: 12px;
}
